body{
    margin: auto;
}

*{
    ul{
        padding: 0;
        list-style: none;
    }
}

header{
    display: grid;
    grid-template-columns: repeat(3, auto);
    #left{
        grid-column: 1;
    }
    #middle{
        grid-column: 2;
        text-align: center;
    }
    #right{
        grid-column: 3;
        #cart{
            position: relative;
            display: inline-block;
        }

        #cartItems{
            display: none;
            position: absolute;
            z-index: 1;
            border: 1px solid black;
            background: black;
            min-width: 250px;
            button{
                border: none !important;
                margin: auto;
                background: black;
                color: white;
                padding: 0;
                text-align: left;
            }
            button:hover{
                color: red;
            }
        }

        #cart:hover #cartItems{
            display: grid;
            grid-template-columns: repeat(2, auto);
        }
    }
}

#categoriesSelectionDisplay{
    display: grid;
    grid-template-rows: 0;
    grid-template-columns: repeat(2, auto);
    span{
        text-align: right;
    }
    select{
        grid-column: 2;
        width: 25%;
    }
}

h1{
    text-align: center;
}

form{
    margin: auto;
    text-align: center;
    div{
        padding: 10px;
    }
    button{
        margin: 10px;
        padding: 5px 25px;
    }
}

a{
    color: black;
    text-decoration: none;
    border: none !important;
    border-radius: 0 !important;
}
a:hover{
    color: green;
}

button{
    background:white;
    border:1px solid black;
    border-radius: 15px;
}
button:hover{
    background:green;
}

table{
    margin: auto;
}

#categoriesTable{
    margin: auto;
    tbody{
        display:grid;
        grid-template-columns: repeat(6, auto);
    }
}

#ordersDisplay{
    margin: auto;
    text-align: center;
    display:grid;
    grid-gap: 50px 0;
    grid-template-columns: repeat(3, auto);
    span{
        grid-row: 1;
        grid-column: 1/4;
    }
    li{
        margin: auto;
        border: 1px solid black;
        width: 50%;
        height: 100%;
    }
}

#errors{
    color: red;
}

footer{
    text-align: center;
}
